useDynLib(rRACES, .registration=TRUE)
importFrom("dplyr", "pull", "row_number", "%>%", "mutate", "rename", "filter", "case_when", "bind_rows", "n", "group_by", "summarise")
importFrom("stats", "time")
importFrom("rlang", ".data")
import(methods, Rcpp)

export(TissueRectangle)
export(SamplesForest)
export(Simulation)
export(plot_exposure_timeline)
export(plot_state)
export(plot_tissue)
export(plot_firings)
export(plot_timeseries)
export(plot_muller)
export(recover_simulation)
export(plot_forest)
export(bbox_sampler)
export(annotate_forest)
export(load_samples_forest)

export(build_mutation_engine)
export(get_mutation_engine_codes)
export(Indel)
export(load_phylogenetic_forest)
export(MutationEngine)
export(Mutation)
export(PhylogeneticForest)
export(SNV)
export(CNA)
export(Amplification)
export(Deletion)

export(Variable)
export(Expression)
export(Formula)

export(ErrorlessIlluminaSequencer)
export(BasicIlluminaSequencer)
export(simulate_seq)
export(simulate_normal_seq)
export(seq_to_long)
export(plot_DR_gw)
export(plot_BAF_gw)
export(plot_VAF_gw)
export(plot_VAF_gw)
export(plot_marginals)
export(plot_histogram_vaf)