useDynLib(rRACES, .registration=TRUE)
importFrom("dplyr", "pull", "row_number", "%>%", "mutate", "rename", "filter")
import(methods, Rcpp)

S3method(print,rraces)
export(Simulation)
export(set_initial_cell)
export(create_simulation)
export(plot_state)
export(plot_tissue)
export(plot_firings)
export(add_species)
export(add_genotype_evolution)
export(run)
